.pictureoftheday{
  max-width: 700px;
  margin: 30px auto;
  color: white;
}
.pictureoftheday > h3{
  font-size: 3.2rem;
  margin-left: 30px;
  margin-right: 20px;
}
.pictureoftheday__container{
  margin: 30px;
}
.pictureoftheday__title{
  font-weight: 200;
  font-size: 2rem;
}
.pictureoftheday__image{
  width: 100%;
}
.pictureoftheday__explanation{
  font-size: 1.2rem;
}
.pictureoftheday__link{
  font-size: 1.6rem;
  color: rgb(84, 129, 214);
}
.pictureoftheday__link:hover{
  color: rgb(35, 95, 207);
}
