
.aboutme__container{
  max-width: 800px;
  width: 70%;
  color: antiquewhite;
  margin: 50px auto;
}
.aboutme__container__title{
  font-size: 4.4rem;
  margin-left: 20px;
    
}
.aboutme__container__links{
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
    
    
}
.aboutme__container__link{
  text-decoration: none;
  color: antiquewhite;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 2rem;
}
.activate{
  border-bottom: 1px solid #49F2E1;
  color: #49F2E1;
}
.aboutme__container__text{
  text-align: center;
  margin-top: 30px;
  font-size: 1.8rem;
  padding: 10px;
}
.aboutme__container__buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
     
}
.aboutme__container__button{
  width: 300px;
  height: 30px;
  margin: 10px;
  color: #354259;
  font-size: 2.2rem;
  border: none;
  border-radius: 10px;
  background-color: #B532D9;
  border: none;
  box-shadow: #49F2E1 0px 0px 7px;
}
.aboutme__container__button:first-child{
  background-color: #49F2E1;
  box-shadow: #B532D9 0px 0px 7px;
}
.aboutme__container__button:first-child a{
  color: #354259;
}
.aboutme__container__button a{
  text-align: center;
  text-decoration: none;
  color: #e0e0e0;
}

.info__content{
  min-height: 200px;
}

/* STUDIES */

.studies__container ul{
  list-style: none;
  font-size: 1.8rem;
}
.studies__list > li{
  margin-top: 20px;
}


/* SKILS */
.skils__container{
  font-size: 1.8rem;
  margin-top: 50px;
}
.skils__picture{
  width: 100px !important;
}
.skils__image{
  height: 100px;
  width: auto;
}

