.hello{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, #010109, #050118, #11022B, #561750 , #141f30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg , #010109, #050118, #11022B, #561750 , #141f30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.hello__container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hello__container h1{
    font-size: 6rem;
    margin: 5px;
    color: #B532D9;
    text-shadow: #49F2E1 0px 0px 7px;
}
.hello__container p{
    font-size: 2rem;
    color: #49F2E1;
}
.hello__container > .info{
    font-size: 2rem;
    color: #49F2E1;
    margin-bottom: 40px;
}
.hello__container ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.hello__container ul li{
    margin: 0 20px;
}
.hello__container ul li a img{
    width: 30px;
}

.arrow__down:hover{
    cursor: pointer;
}
.arrow__down img{
    position: absolute;
    width: 50px;
    left: calc(50% - 25px);
    bottom: 30px;
}