.hello{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.hello__container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hello__container h1{
    font-size: 6rem;
    margin: 5px;
    color: #ecc8c8;
}
.hello__container p{
    font-size: 2rem;
    color: #CECECE;
}
.hello__container ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.hello__container ul li{
    margin: 0 20px;
}
.hello__container ul li a img{
    width: 30px;
}